In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [5]:
df= pd.read_csv(r"C:\Users\amaan\Downloads\bmi.csv")
df

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [6]:
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [8]:
# Checking the shape of the data.
df.shape

(500, 4)

In [9]:
# More info about the data.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Index   500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB

In [10]:
# We can use describe function to see maximum , minimum and average temp.
df.describe()

           Height      Weight       Index
count  500.000000  500.000000  500.000000
mean   169.944000  106.000000    3.748000
std     16.375261   32.382607    1.355053
min    140.000000   50.000000    0.000000
25%    156.000000   80.000000    3.000000
50%    170.500000  106.000000    4.000000
75%    184.000000  136.000000    5.000000
max    199.000000  160.000000    5.000000

In [11]:
# Check null valuess on the data set.
df.isnull().sum()

Gender    0
Height    0
Weight    0
Index     0
dtype: int64

In [13]:
# there is a categorical column i a data set so we will convert it o numerical column using encoding
# Create labelncoder and save in a variable.
from sklearn.preprocessing import LabelEncoder
lc=LabelEncoder()
df['Gender']=lc.fit_transform(df['Gender'])

In [14]:
df.head()

   Gender  Height  Weight  Index
0       1     174      96      4
1       1     189      87      2
2       0     185     110      4
3       0     195     104      3
4       1     149      61      3

In [18]:
#separating target and features of the dataset 
x = df[['Gender', 'Height', 'Weight']]
y = df['Index']

In [19]:
x

     Gender  Height  Weight
0         1     174      96
1         1     189      87
2         0     185     110
3         0     195     104
4         1     149      61
..      ...     ...     ...
495       0     150     153
496       0     184     121
497       0     141     136
498       1     150      95
499       1     173     131

[500 rows x 3 columns]

In [20]:
y

0      4
1      2
2      4
3      3
4      3
      ..
495    5
496    4
497    5
498    5
499    5
Name: Index, Length: 500, dtype: int64

In [22]:
# Create test and traning data set.
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=2)

In [24]:
# using knn classifier
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(x_train,y_train)
print('KNN accuracy:{:.2f}%'.format(knn.score(x_test,y_test)*100))

KNN accuracy:88.00%

In [25]:
# using svm classifier
from sklearn.svm import SVC
svm=SVC()
svm.fit(x_train,y_train)
print('SVM accuracy:{:.2f}%'.format(svm.score(x_test,y_test)*100))

SVM accuracy:86.00%

In [26]:
# using gradient boosting classifier
from sklearn.ensemble import GradientBoostingClassifier
gbc=GradientBoostingClassifier(subsample=0.5,n_estimators=450,max_depth=5,max_leaf_nodes=25)
gbc.fit(x_train,y_train)
print('GBC accuracy:{:.2f}%'.format(gbc.score(x_test,y_test)*100))

GBC accuracy:84.00%

In [27]:
# Using xgb classifier
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(x_train,y_train)
print('XGB accuracy:{:.2f}%'.format(xgb.score(x_test,y_test)*100))

XGB accuracy:82.00%

In [28]:
# Take a input and make prediction.
input=[[0,185,110]]
ot=knn.predict(input)
print("BMI Would be:" ,end=" ")
if(ot==0):
  print('Extremely Weak')
elif (ot==1):
  print('Weak')
elif (ot==2):
  print('Normal')
elif (ot==3):
  print('Overweight')
elif (ot==4):
  print('Obesity')
else:
  print('Extreme Obesity')

BMI Would be: Obesity